/* ------------------------------

    LoginLayout Template

-------------------------------- */

$brandon-blue: hsl(210, 92, 65);
$damien-dark: hsl(193, 14, 12);
$damien-light: hsl(194, 16, 16);
$danger-red: hsl(0, 84, 61);
$gracious-green: hsl(122, 47, 57);
$ordinary-white: hsl(0, 0, 100);

/* Shades of Gray */
$deepest-gray: hsl(195, 2, 37);
$deeper-gray: hsl(0, 0, 64); // great for grayed out text
$lightest-gray: hsl(0, 0, 96);
$light-blue-gray: hsl(240, 100, 99);

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin transformation($transformation...) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
  transform: $transformation;
}

@mixin transform-origin($transforms...) {
  -webkit-transform-origin: $transforms;
  -moz-transform-origin: $transforms;
  -ms-transform-origin: $transforms;
  -o-transform-origin: $transforms;
  transform-origin: $transforms;
}

@mixin animation($animation...) {
  -webkit-animation: $animation;
  -moz-animation: $animation;
  animation: $animation;
}

// text antialiasing
%antialiasing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.login {
  background: $damien-dark;
  display: table;
  height: 100%;
  padding: 2em 0;
  position: relative;
  width: 100%;

  background-image: -webkit-linear-gradient(320deg, #3e88a8  0%, #4a9ec2 100%);
  background-image: linear-gradient(180deg, #3e88a8  0%, #4a9ec2 100%);
}

.login-body {
  display: table-cell;
  vertical-align: middle;
}

.login-brand {
  margin: 0 auto 20px;
  text-align: center;
  width: 450px;

  .login-logo {
    height: 35px;
  }

}

.login-form {
  background: #fcfcfc;
  border-radius: 3px;
  margin: 0 auto;
  padding: 1em 2.2em;
  width: 450px;
}

.at-form {

  input {
    border-radius: 3px;
    border: 2px solid #dfdfdf;
    color: initial;
    font-size: 0.8em;
    margin-bottom: 5px;
    padding: 10px 15px;
    width: 100%;
  }

  label {
    color: #444;
    display: block;
    font-size: 0.85em;
    margin-bottom: 7px;
  }

  span {
    font-size: 0.85em;
  }
}

.at-input {
  margin-bottom: 10px;
}

.at-signup-link,
.at-signin-link,
.at-pwd-link {
  display: inline-block;
  font-size: 0.8em;
}

.at-signup-link {
  clear: both;
}

.at-form a {
  color: #4a9ec2;
}

.at-btn {
  background-color: #48adcf;
  border: 1px solid #48a0c2;
  border-radius: 3px;
  color: $ordinary-white;
  float: right;
  font: {
    size: 0.8em;
    weight: 600;
  }
  padding: 10px 17px;
  text-decoration: none;

  &:hover {
    background-color: #3e88a8;
  }

  &:active {
    background-color: #48a0c2;
  }
}

.at-error {
  background: $danger-red;
  border-radius: 3px;
  color: $ordinary-white;
  font-size: 0.85em;
  margin-bottom: 10px;
  padding: 10px;

  p {
    margin: 0;
  }
}

.at-input {

  .icon-accept {
    color: $gracious-green;
    font-weight: bold;
  }

  .icon-cancel {
    color: $danger-red;
  }
}

.at-input.has-error {
  span {
    color: $danger-red;
    font-weight: 600;
  }
}

//
//
//#at-nav-button {
//  align-items: center;
//  background-color: $damien-light;
//  color: $ordinary-white;
//  cursor: pointer;
//  display: flex;
//  font-size: 0.85em;
//  float: right;
//  height: 100%;
//  justify-content: center;
//  padding: 0 20px;
//  vertical-align: middle;
//
//  @include transition(all 0.1s ease);
//
//  &:hover {
//    background-color: $danger-red;
//  }
//}