<template name="ApplicationLayout">
    <!-- CSS Module: Header -->
    <header class="header">
        <a href="/" class="header-logo">
            <img src="/img/logo-white.png" alt="Dentio" class="header-logo-image">
        </a>
        <a href="#" class="header-trigger js-header-trigger">Menu<span class="header-trigger-hamburger"></span></a>
        {{> atNavButton }}
    </header>
    <!--/ CSS Module: Header -->

    <!-- CSS Module: Content -->
    <main class="body">
        {{> sidebar}}
        {{> yield "content"}}
    </main>
    <!--/ CSS Module: Content-->

</template>