<template name="LoginLayout">
    <div class="login">
        <div class="login-video">
            <div class="login-filter">
                <div class="login-text">
                    <img src="/img/logo-white.png" alt="Welcome to Dentio">
                    <p>We take the hard work out of running your clinic</p>
                </div>
                <div class="login-form">
                    {{> atForm}}
                </div>
            </div>
            <video autoplay loop class="login-video-fullwidth">
            </video>
            <div class="poster hidden">
            </div>
        </div>
    </div>
</template>