<template name="sidebar">
    <nav class="body-sidebar js-body-sidebar">
        <ul class="body-sidebar-menu">
            <li class="body-sidebar-profile">
                <a href="#" class="body-sidebar-settings">
                    <span class="body-sidebar-settings-icon icon-gear"></span>
                </a>
                <img src="/img/uiface2.jpg" class="body-sidebar-image"/>
                <p class="body-sidebar-name">Jane Doe</p>
                <small class="body-sidebar-role">Receptionist</small>
            </li>
            <a class="body-sidebar-link js-body-sidebar-link" href="/">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item {{active 'appointments'}}">
                    <span class="body-sidebar-icon icon-speedo1"></span>
                    Dashboard
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item">
                    <span class="body-sidebar-icon icon-users"></span>
                    Patients
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item">
                    <span class="body-sidebar-icon icon-wallet"></span>
                    Invoices
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item">
                    <span class="body-sidebar-icon icon-case"></span>
                    Services
                </li>
            </a>
            <!--<li class="body-sidebar-menu-item">-->
            <!--<a class="body-sidebar-link js-body-sidebar-link" href="/reports">-->
            <!--<span class="body-sidebar-icon icon-graph1"></span>-->
            <!--Reports-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </nav>
</template>