<template name="sidebar">
    <nav class="body-sidebar js-body-sidebar">
        <ul class="body-sidebar-menu">
            <li class="body-sidebar-profile">
                <div class="body-sidebar-profile-content">
                    <!--<a href="#" class="body-sidebar-settings">-->
                    <!--<span class="body-sidebar-settings-icon icon-gear"></span>-->
                    <!--</a>-->
                    <!--<img src="/img/uiface2.jpg" class="body-sidebar-image"/>-->
                    <div class="body-sidebar-avatar"><span class="icon-user"></span></div>
                    <p class="body-sidebar-name">{{ user }}</p>
                    <!--<small class="body-sidebar-role">Receptionist</small>-->
                </div>
            </li>
            <a class="body-sidebar-link js-body-sidebar-link" href="/">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item {{active 'appointments'}}">
                    <span class="body-sidebar-icon icon-speedo1"></span>
                    Dashboard
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/patients">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item {{active 'patients'}}">
                    <span class="body-sidebar-icon icon-users"></span>
                    Patients
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/invoices">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item {{active 'invoices'}}">
                    <span class="body-sidebar-icon icon-wallet"></span>
                    Invoices
                </li>
            </a>
            <a class="body-sidebar-link js-body-sidebar-link" href="/services ">
                <li class="body-sidebar-menu-item js-body-sidebar-menu-item {{active 'services'}}">
                    <span class="body-sidebar-icon icon-case"></span>
                    Services
                </li>
            </a>
            <!--<li class="body-sidebar-menu-item">-->
            <!--<a class="body-sidebar-link js-body-sidebar-link" href="/reports">-->
            <!--<span class="body-sidebar-icon icon-graph1"></span>-->
            <!--Reports-->
            <!--</a>-->
            <!--</li>-->
        </ul>
    </nav>
</template>